@mixin mobile {
    @media screen and (max-width: 5000px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 800px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1250px) {
      @content;
    }
  }

/*color declaration using variables*/
$bgc: #1A1A40;

$bagc: #3F72AF;

$bagr: #DBE2EF;

$logo:#3F72AF;

$label:#2d63a5;

$sideb:#1b3759;

$navb:#242453;



  .formContainer {
    background-color:$bgc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    .formWrapper {
      background-color:white;
      padding: 20px 60px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      border-radius: 20px;
  
  
      .logo {
        color: $logo;
        font-weight: bold;
        font-size: 24px;
  
      }
  
      .title {
        color: $logo;
        font-size: 15px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 15px;
          border: none;
          width: 250px;
          border-bottom: 1px solid $bgc;
          &::placeholder {
            color: rgb(20, 10, 10);
          }
        }
  
        button {
          background-color: $bagc;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $label;
          font-size: 14px;
          cursor: pointer;
  
          img {
            width: 32px;
          }
        }
      }
      p {
        color: $logo;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
  
  .home {
    background-color: $bgc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    .container {
      width: 65%;
      height: 85%;
      display: flex;
      overflow: hidden;
      border-radius: 25px;
      border:1px solid #DBE2EF;
      @include tablet {
       width: 90%;
      }
  
      .sidebar {
        flex: 1;
        background-color: $sideb;
        position: relative;
  
        .navbar {
          display: flex;
          align-items: center;
          background-color: $navb;
          height: 50px;
          padding: 10px;
          justify-content: space-between;
          color: $bagr;
  
          .logo {
            font-weight: bold;
            font-size: 18px;
            @include tablet {
              display: none;
            }
          }
  
          .user {
            display: flex;
            gap: 10px;
            font-size: 15px;
            
            .user1{
              font-size: 15px;
              margin-top: 10px;
            }
            img {
              background-color: $bagr;
              height: 34px;
              width: 34px;
              border-radius: 50%;
              object-fit: cover;
            }
  
            button {
              background-color: $label;
              color:$bagr;
              font-size: 15px;
              height: 34px;
              width: 50px;
              border: none;
              cursor: pointer;
              border-radius: 15px;
              @include tablet {
                position: absolute;
                bottom: 10px;
              }
            }
          }
        }
        .search {
          
          .searchForm {
            padding: 10px;
            background-color: #3e5682;
  
            input {
              background-color: transparent;
              border: none;
              color: white;
              outline: none;
  
              &::placeholder {
                color: lightgray;
              }
            }
          }
        }
  
        .userChat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: white;
          cursor: pointer;
  
          &:hover {
            background-color: $navb;
          }
  
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .userChatInfo {
            span {
              font-size: 18px;
              font-weight: 500;
            }
            p {
              font-size: 14px;
              color: rgb(176, 175, 175);
            }
          }
        }
      }
      .chat {
        flex: 2;
  
        .chatInfo {
          height: 50px;
          background-color: $logo;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          color: lightgray;
        }
  
        .chatIcons {
          display: flex;
          gap: 15px;
  
          img {
            height: 24px;
            cursor: pointer;
          }
        }
  
        .messages {
          background-color: $bagr;
          padding: 10px;
          height: calc(100% - 160px);
          overflow: scroll;
  
          .message {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
  
            .messageInfo {
              display: flex;
              flex-direction: column;
              color: gray;
              font-weight: 300;
  
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            .messageContent {
              max-width: 80%;
              display: flex;
              flex-direction: column;
              gap: 10px;
  
              p {
                background-color: white;
                padding: 10px 20px;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
              }
  
              img {
                width: 50%;
              }
            }
  
            &.owner {
              flex-direction: row-reverse;
  
              .messageContent {
                align-items: flex-end;
                p {
                  background-color: $label;
                  color: white;
                  border-radius: 10px 0px 10px 10px;
                }
              }
            }
          }
        }
  
        .input {
          height: 50px;
          background-color: white;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          input {
            width: 100%;
            border: none;
            outline: none;
            color: $navb;
            font-size: 15px;
  
            &::placeholder {
              color: lightgray;
            }
          }
  
          .send {
            display: flex;
            align-items: center;
            gap: 10px;
  
            img {
              height: 24px;
              cursor: pointer;
            }
  
            button {
              border: none;
              padding: 10px 15px;
              color: white;
              background-color: $label;
              cursor: pointer;
              border-radius: 18px;
            }
          }
        }
      }
    }
  }